In [2]:
import pandas as pd

# Assuming your data is in a CSV file named 'data.csv'
# Load the data into a DataFrame
df = pd.read_csv('data.csv')

# Sort the DataFrame by SUBJECT_ID and HADM_ID in descending order
df_sorted = df.sort_values(by=['SUBJECT_ID', 'HADM_ID'], ascending=[True, False])

# Drop duplicates based on SUBJECT_ID, keeping the first occurrence (which has the largest HADM_ID)
df_unique = df_sorted.drop_duplicates(subset=['SUBJECT_ID'], keep='first')

# Save the result to a new CSV file (optional)
df_unique.to_csv('unique_data.csv', index=False)

# Display the resulting DataFrame
print(df_unique)

<ipython-input-2-2eefd6d7b592>:5: DtypeWarning: Columns (542,544,553,555,557,559,560,564,568,572,573,576,577,579,581,582,583,585,591,595,596,597,598,603,607,609,613,617,619,621,623,624,626,629,631,633,634,635,638,639,645,646,648,649,650,651,652,653,654,655,656,658,659,666,668,670,672,674,675,676,679,680,682,683,687,689,690,693,694,696,700,701,705,707,708,709,713,733,735,738,739,740,741,742,743,747,748,751,752,753,754,758,759,761,762,763,765,786,793,795,798,799,800,806,807,808,809,810,811,814,817,818,821,823,824,825,826,834,835,836,837,840,842,849,850,853,855,856,857,858,859,863,864,865,866,875,876,878,879,888,890,891,892,896,899,900,901,902,909,910,911,912,913,914,916,917,918,920,921,922,923,924,925,926,927,928,929,930,931,933,934,935,936,937,938,939,955,956,957,958,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,991,992,994,995,996,997,1019,1026,1027,1029,1032,1033,1038,1039,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1053,1055,1057,1059,1061,1062,1070,1078,1095,1097,1098,1099,1101,1102,1104,1105,1109,1114,1115,1127,1134,1135,1136,1137,1139,1140,1141,1142,1143,1148,1156,1157,1158,1162,1164,1166,1168,1169,1173,1182,1183,1185,1186,1187,1193,1194,1196,1197,1198,1199,1200,1201,1202,1203,1206,1207,1209,1210,1212,1213,1215,1216,1217,1218,1220,1221,1226,1227,1229,1231,1232,1233,1235,1236,1239,1241,1242,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1261,1262,1265,1266,1267,1275,1282,1283,1284,1285,1287,1290,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1304,1305,1306,1307,1308,1309,1310,1313,1314,1315,1321,1336,1339,1340,1348,1349,1352,1357,1364,1369,1371,1372,1373,1376,1386,1397,1398,1402,1408,1409,1418,1419,1420,1422,1423,1428,1431,1433,1465,1466,1468,1469,1470,1471,1474,1475,1476,1478,1479,1484,1485,1486,1487,1488,1489,1490,1491,1515,1518,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1550,1557,1559,1560,1563,1568,1572,1593,1595,1603,1634,1639,1640,1652,1654,1659,1660,1661,1662,1664,1665,1666,1667,1668,1672,1673,1674,1675,1676,1681,1682,1683,1687,1688,1691,1693,1694,1698,1707,1711,1712,1714,1718,1719,1722,1723,1724,1725,1726,1727,1728,1731,1732,1734,1735,1737,1738,1740,1741,1743,1744,1745,1746,1748,1751,1752,1754,1756,1757,1758,1759,1764,1784,1810,1819,1820,1821,1822,1823,1824,1825,1826,1827,1829,1830,1831,1832,1833,1834,1841,1844,1846,1865,1874,1877,1878,1882,1884,1889,1901,1911,1920,1922,1923,1927,1933,1934,1943,1944,1945,1947,1953,1956,1958,2000,2004,2012,2013,2014,2016,2040,2043,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2075,2082,2084,2089,2094,2108,2109) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

       ROW_ID_x  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE  ROW_ID_y  \
86            7           3   145834      4.0      4275      4466
88           44           9   150750      3.0      4280      4473
89           56          12   112213      3.0      9971     12365
91           63          13   143045      1.0     41401      4374
93           81          17   194023      1.0      7455      7314
...         ...         ...      ...      ...       ...       ...
10060     66500        5908   104067      4.0      V433     11950
9161      66601        5909   175121      1.0     42781      4470
9186      66635        5910   143682      1.0      4280      4473
9195      66712        5913   173921      9.0     41401      4374
9197      66729        5917   101439      1.0     41401      4374

                    SHORT_TITLE  \
86               Cardiac arrest
88                      CHF NOS
89             Surg compl-heart
91     Crnry athrscl natve vssl
93     Secundum atrial sept def
...                         ...
10060    Heart valve replac NEC
9161   Sinoatrial node dysfunct
9186                    CHF NOS
9195   Crnry athrscl natve vssl
9197   Crnry athrscl natve vssl

                                              LONG_TITLE  ROW_ID GENDER  ...  \
86                                        Cardiac arrest       2      M  ...
88                 Congestive heart failure, unspecified       8      M  ...
89       Cardiac complications, not elsewhere classified      11      M  ...
91     Coronary atherosclerosis of native coronary ar...      12      F  ...
93             Ostium secundum type atrial septal defect      14      F  ...
...                                                  ...     ...    ...  ...
10060                Heart valve replaced by other means    5596      F  ...
9161                         Sinoatrial node dysfunction    5597      M  ...
9186               Congestive heart failure, unspecified    5598      M  ...
9195   Coronary atherosclerosis of native coronary ar...    5600      F  ...
9197   Coronary atherosclerosis of native coronary ar...    5603      M  ...

      51510_FLAG 51512_FLAG 51513_FLAG 51514_FLAG  51515_FLAG  51516_FLAG  \
86           NaN        NaN        NaN        NaN         NaN    abnormal
88           NaN        NaN        NaN        NaN         NaN         NaN
89           NaN        NaN        NaN        NaN         NaN         NaN
91           NaN        NaN        NaN        NaN         NaN         NaN
93           NaN        NaN        NaN        NaN         NaN         NaN
...          ...        ...        ...        ...         ...         ...
10060        NaN        NaN        NaN        NaN         NaN         NaN
9161         NaN        NaN        NaN        NaN         NaN         NaN
9186         NaN        NaN        NaN        NaN         NaN         NaN
9195         NaN        NaN        NaN        NaN         NaN    abnormal
9197         NaN        NaN        NaN        NaN         NaN         NaN

       51517_FLAG  51518_FLAG  51519_FLAG  51523_FLAG
86            NaN         NaN         NaN         NaN
88            NaN         NaN         NaN         NaN
89            NaN         NaN         NaN         NaN
91            NaN         NaN         NaN         NaN
93            NaN         NaN         NaN         NaN
...           ...         ...         ...         ...
10060         NaN         NaN         NaN         NaN
9161          NaN         NaN         NaN         NaN
9186          NaN         NaN         NaN         NaN
9195          NaN         NaN         NaN         NaN
9197          NaN         NaN         NaN         NaN

[2817 rows x 2115 columns]

In [3]:
import pandas as pd

# Assuming your data is already loaded into a DataFrame called df_unique
# Filter columns with the suffix "_VALUENUM"
valuenum_columns = [col for col in df_unique.columns if col.endswith('_VALUENUM')]

# Count non-null values in each of these columns
valuenum_counts = df_unique[valuenum_columns].count()

# Display the counts
print(valuenum_counts)

50800_VALUENUM       0
50801_VALUENUM     438
50802_VALUENUM    1640
50803_VALUENUM     153
50804_VALUENUM    1640
                  ...
51516_VALUENUM     426
51517_VALUENUM       0
51518_VALUENUM       0
51519_VALUENUM       3
51523_VALUENUM       0
Length: 525, dtype: int64

In [8]:
import pandas as pd

# Load the CSV file into a DataFrame


# Get the total number of rows and columns
total_rows, total_columns = df_unique.shape

# Display the results
print(f"Total rows in the CSV: {total_rows}")
print(f"Total columns in the CSV: {total_columns}")

Total rows in the CSV: 2817
Total columns in the CSV: 2115

In [14]:
import pandas as pd

# Assuming df_unique is already defined
# Step 1: Identify _VALUENUM columns with more than 500 non-null values
valuenum_columns = [col for col in df_unique.columns if col.endswith('_VALUENUM')]
valuenum_counts = df_unique[valuenum_columns].count()
selected_valuenum_cols = valuenum_counts[valuenum_counts > 500].index.tolist()

# Step 2: Extract corresponding _VALUEOOM, _FLAG, and _VALUE columns
selected_cols = []
for col in selected_valuenum_cols:
    prefix = col.replace('_VALUENUM', '')  # Remove '_VALUENUM' to get the prefix
    valueom_col = prefix + '_VALUEOOM'  # Construct _VALUEOOM column name
    flag_col = prefix + '_FLAG'  # Construct _FLAG column name
    value_col = prefix + '_VALUE'  # Construct _VALUE column name

    # Check if these columns exist in the DataFrame
    if valueom_col in df_unique.columns:
        selected_cols.append(valueom_col)
    if flag_col in df_unique.columns:
        selected_cols.append(flag_col)
    if value_col in df_unique.columns:
        selected_cols.append(value_col)

# Combine selected _VALUENUM, _VALUEOOM, _FLAG, and _VALUE columns
final_cols = selected_valuenum_cols + selected_cols

# Step 3: Create a new DataFrame with only these columns
df_filtered = df_unique[final_cols]

# Display the resulting DataFrame
print(df_filtered.head())

    50802_VALUENUM  50804_VALUENUM  50808_VALUENUM  50809_VALUENUM  \
86       -6.000000       18.454545        1.031429      253.000000
88        0.333333       27.000000        1.065000      167.500000
89      -12.846154       14.538462        1.056000      143.142857
91       -1.000000       23.333333        1.132500      167.000000
93       -3.000000       24.750000        1.217500      124.333333

    50810_VALUENUM  50811_VALUENUM  50813_VALUENUM  50816_VALUENUM  \
86       29.500000        9.850000        4.871429            60.0
88       42.000000       14.000000        2.333333            60.0
89       29.444444        9.777778        7.655556            50.0
91       29.000000        9.600000             NaN             NaN
93       32.250000       10.775000             NaN            50.0

    50817_VALUENUM  50818_VALUENUM  ...  51277_FLAG  51277_VALUE  51279_FLAG  \
86            75.9       30.727273  ...         NaN          NaN    abnormal
88             NaN       41.333333  ...         NaN          NaN    abnormal
89            98.0       34.769231  ...         NaN          NaN    abnormal
91             NaN       36.166667  ...         NaN          NaN    abnormal
93            99.0       57.375000  ...         NaN          NaN    abnormal

    51279_VALUE  51301_FLAG  51301_VALUE  51491_FLAG  51491_VALUE  51498_FLAG  \
86          NaN    abnormal          NaN         NaN          NaN         NaN
88          NaN    abnormal          NaN         NaN          NaN         NaN
89          NaN    abnormal          NaN         NaN          NaN         NaN
91          NaN    abnormal          NaN         NaN          NaN         NaN
93          NaN    abnormal          NaN         NaN          NaN         NaN

    51498_VALUE
86          NaN
88          NaN
89          NaN
91          NaN
93          NaN

[5 rows x 183 columns]

In [13]:
df_filled = df_filtered.copy()
for col in valuenum_columns:
    df_filled[col] = df_filled[col].fillna(column_means[col])

KeyError: '50800_VALUENUM'

In [15]:
df_filtered.to_csv('filtered_cols.csv', index=False)